<!-- This is the main template that we will show on every page -->
<!-- It consist of the author and copyright -->
<html>
    <body>
        <!-- Main Heading  -->
        <h2>Books by Rick Riordan</h2>
            {{>navbar}}
            {{{body}}}
        <i>Copyright Nicholas Ferradino</i>
    </body>
</html>
